<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Cross-site iframe</title>

  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
      font-size: 120%;
      color: black;
    }
  </style>
  <h1>Cross-site iframe</h1>
  <p>
     These are the visible cookies from <b>document.cookie</b> in a
    cross-site context:
  </p>
  <pre class="cookies"></pre>
    <p>
     An image loaded from
    <a href="https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png"
      >MDN</a
    >
    <img height="20px" width="20px" src="https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png" /> to verify
    additional requests continue over HTTPS and include appropriately marked
    cookies.
  </p>
  <script>
    const cookieContainer = document.querySelector(".cookies");
    cookieContainer.textContent = document.cookie;
  </script>
</html>
