<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
      font-size: 120%;
      color: blue;
    }

    iframe {
      border:blue 2px solid;
      width: 80vw;
      height: 40vh;
    }
  </style>
  <h1>Cross-site POST request</h1>
  <p>This page sends the following  Set-cookie  headers:</p>
  <ul>
    <li> Set-cookie: samesite-none=none; Path=/; Secure; SameSite=None </li>
    <li> Set-cookie: plain-cookie=plain; Path=/ </li>
    <li> Set-cookie: samesite-lax=lax; Path=/; SameSite=Lax </li>
    <li> Set-cookie: samesite-strict=strict; Path=/; SameSite=Strict </li>
  </ul>
  <p>
    The content below is an  iframe  to:<br />
     https://peaceful-wing.glitch.me/iframe .
  </p>
  <iframe src="https://peaceful-wing.glitch.me/iframe"></iframe>
</html>
